## Introduction to pandas

pandas is a fast, powerful, flexible and easy to use open source dataanalysis and manipulation tool, built on top of the Python programming language.

In [ ]:
import pandas as pd

### Creating data - Dataframe

In [ ]:
data = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
data

In [ ]:
data = pd.DataFrame({'Mike': ['Bald', 'Tall'], 'Anna': ['', 'Short']})

#### Row labels - Index

In [ ]:
data = pd.DataFrame({'Mike': ['Bald', 'Tall'], 'Anna': ['', 'Short']}, index=['Hair', 'Size'])
data

### Series

In [ ]:
data = pd.Series([30, 35, 40])
data

In [ ]:
data = pd.Series([30, 35, 40], index=['2018 Sales', '2019 Sales', '2020 Sales'], name='Product A')
data

### Reading data files

In [ ]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv")
print(wine_reviews.shape)

In [ ]:
print(wine_reviews.head())

In [ ]:
wine_reviews.head()

In [ ]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

### Your Turn !

#### Exercise 1

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

#### Exercise 2

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

#### Exercise 3

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

### Native Accessors

In [ ]:
wine_reviews.country

In [ ]:
wine_reviews['country']

In [ ]:
wine_reviews['country'][0]

### Indexing in pandas - Index-based selection

In [ ]:
wine_reviews.iloc[0]

In [ ]:
wine_reviews.iloc[:, 0]

In [ ]:
wine_reviews.iloc[:3, 0]

In [ ]:
wine_reviews.iloc[[0, 1, 2], 0]

In [ ]:
wine_reviews.iloc[-5:]

### Indexing in pandas - Label-based selection

In [ ]:
wine_reviews.loc[0, 'country']

In [ ]:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

`iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So `0:10` will select entries `0,...,9`. `loc`, meanwhile, indexes inclusively. So `0:10` will select entries `0,...,10`.

### Conditional Selection

In [ ]:
wine_reviews.country == 'Italy'

In [ ]:
wine_reviews.loc[wine_reviews.country == 'Italy']

In [ ]:
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)]

In [ ]:
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.points >= 90)]

In [ ]:
# Selects wines from Italy and France
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])]

In [ ]:
# Selects wines for which price is not missing
wine_reviews.loc[wine_reviews.price.notnull()] # The opposite of "notnull" is "isnull"

### Assigning data

In [ ]:
wine_reviews['critic'] = 'everyone'
wine_reviews['critic']

In [ ]:
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)
wine_reviews['index_backwards']

### Your turn !

#### Exercice 4

Select the `description` column from `reviews` and assign the result to the variable `desc`.

What type of object is `desc` ?

#### Exercise 5

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

#### Exercise 6 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

#### Exercise 7

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

#### Exercise 8

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In other words, generate the following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

#### Exercise 9

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

#### Exercise 10

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

#### Exercise 11

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`.

#### Exercise 12

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

### Summary functions

In [ ]:
wine_reviews.points.describe()
wine_reviews.taster_name.describe()

In [ ]:
wine_reviews.points.mean()
wine_reviews.taster_name.unique()

In [ ]:
wine_reviews.taster_name.value_counts()

### Maps

In [ ]:
review_points_mean = wine_reviews.points.mean()
points_remean = wine_reviews.points.map(lambda p: p - review_points_mean)
points_remean

The function you pass to `map()` should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value. `map()` returns a new Series where all the values have been transformed by your function.

`apply()` is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [ ]:
review_points_mean = wine_reviews.points.mean()

def remean_points(row):
    row.points = row.points - review_points_mean
    return row

wine_reviews.apply(remean_points, axis='columns')

If we had called winereviews.apply() with axis='index', then instead of passing afunction to transform each row, we would need to give a function to transform each column.

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don’t modify the original data they’re called on.

In [ ]:
review_points_mean = wine_reviews.points.mean()
points_remean = wine_reviews.points - review_points_mean
print(points_remean)

print(wine_reviews.country + " - " + wine_reviews.region_1)

### Your Turn !

#### Exercise 13

What is the median of the `points` column in the `reviews` DataFrame?

#### Exercise 14

What countries are represented in the dataset? (Your answer should not include any duplicates.)

#### Exercise 15

How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country.

#### Exercise 16

Create variable `centered_price` containing a version of the `price` column with the mean price subtracted.

#### Exercise 17 

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

#### Exercise 18

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

#### Exercise 19

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

### Groupwise analysis

In [ ]:
wine_reviews.groupby('points').points.count() # Same as value_counts()

In [ ]:
wine_reviews.groupby('points').price.min()

In [ ]:
wine_reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

In [ ]:
wine_reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
wine_reviews.groupby(['country']).price.agg([len, min, max])

### Multi-indexes

In [ ]:
countries = wine_reviews.groupby(['country', 'province']).description.agg([len])
countries

In [ ]:
countries.reset_index()

### Sorting

In [ ]:
countries.sort_values(by='len')
countries.sort_values(by='len', ascending=False)
countries.sort_index()
countries.sort_values(by=['country', 'len'])

### Your Turn !

#### Exercise 20

Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

#### Exercise 21

What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

#### Exercise 22

What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

#### Exercise 23

What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

#### Exercise 24

Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

#### Exercise 25

What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

### Data types

The data type for a column in a DataFrame or a Series is known as the **dtype**.

In [ ]:
wine_reviews.price.dtype
wine_reviews.dtypes

In [ ]:
wine_reviews.points.astype('float64')

#### Missing data

Entries missing values are given the value **NaN**, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

In [ ]:
wine_reviews[pd.isnull(wine_reviews.country)]

In [ ]:
wine_reviews.region_2.fillna("Unknown")

In [ ]:
wine_reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

### Renaming

In [ ]:
wine_reviews.rename(columns={'points': 'score'})

In [ ]:
wine_reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

### Combining

In [ ]:
# Do not run these lines
# french_wines = pd.read_csv("your_directory.csv")
# british_wines = pd.read_csv("your_directory.csv")

# pd.concat([french_wines, british_wines])

In [ ]:
# Do not run these lines
# left = french_wines.set_index(['shared_index1', 'shared_index2'])
# right = british_wines.set_index(['shared_index1', 'shared_index2'])

# left.join(right, lsuffix='_FR', rsuffix='_UK')

### Your Turn !

#### Exercise 26

What is the data type of the `points` column in the dataset?

#### Exercise 27

Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

#### Exercise 28

Sometimes the price column is null. How many reviews in the dataset are missing a price?

#### Exercise 29

What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

#### Exercise 30

In [ ]:
wine_reviews.head()

`region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively.

#### Exercise 31

Set the index name in the dataset to `wines`.